script
  var host = '#{ host }'
script(src='/socket.io/socket.io.js')
script(src='/javascripts/lib/jquery.min.js')
script(src='/javascripts/lib/underscore.min.js')
script(src='/javascripts/lib/backbone.js')

script(src='/javascripts/app.js')
script(src='/javascripts/utils.js')
script(src='/javascripts/setup.js')

script(src='/javascripts/views/home.js')
script(src='/javascripts/views/topBarView.js')
script(src='/javascripts/views/about.js')
script(src='/javascripts/views/contact.js')
script(src='/javascripts/views/visualize.js')

script(src='/javascripts/controllers/socket_handlers.js')
